<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all info</title>
</head>
<body>
    <h1>all info</h1>
    <table id="list">
        <thead>
          <tr>
            <th>main_dish</th>
            <th>side_dish</th>
            <th>dessert_dish</th>

          </tr>
        </thead>
        <tbody>
          <% orders.forEach(function(d) { %>
            <tr>
              <td><%= d.main_dish %></td>
              <td><%= d.side_dish %></td>
              <td><%= d.dessert_dish %></td>
              
            </tr>
            <% }); %>
          </tbody>
        </table>
</body>
</html>