<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>confirm</h1>
    <section id="show-page">
        <div>main_dish: </div>
        <div><%= order.main_dish %></div>
        <div>side_dish: </div>
        <div><%= order.side_dish %></div>
        <div>dessert_dish: </div>
        <div><%= order.dessert_dish %></div>
</body>
</html>