<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/confirm.css' />
    <title>Confirm</title>
</head>
<body>
    <div id="show-page">
   
    <h1>Your order will be served to your room in one hour</h1>
    <br>
    <br>
    <h1>Bon Appetit</h1>
</div>
<div style="width:100%;height:0;padding-bottom:85%;position:relative;">
    <iframe src="https://giphy.com/embed/jKaFXbKyZFja0" width="100%"
     height="100%" style="position:absolute" frameBorder="0"
      class="giphy-embed" allowFullScreen></iframe></div>
      <p><a href="https://giphy.com/gifs/jKaFXbKyZFja0"></a></p>      
   
</body>
</html>