<!DOCTYPE html>
<html>
  <head>
    <title>Indentification</title>
    <link rel='stylesheet' href='/stylesheets/Indentification.css' />
  </head>
  <body>

<div class = "card">
    <h1>Hello Mr. Leshem</h1>
      
     <div id ="text_room">Your room<br> munber <br><br>305</div>
      
      <h1>Reservaion for 2 people</h1>
      
    
      <button id="change_order"><a href="/orders">click here to order your dinner</a></button>
    
    <h1> Enjoy your stay with us :)</h1>
  </div>
  </body>
</html>
