<!DOCTYPE html>
<html>
  <head>
    <title>Indentification</title>
    <link rel='stylesheet' href='/stylesheets/Indentification.css' />
  </head>
  <body>

<div class = "card">
    <h1>Hello Mr. Leshem
      <br>
      <br>
      <h2>Your room munber - 305</h2>
      <br>
      <br>
      <h2>Reservaion for 2 people</h2>
      <br>
      <br>
    </h1>
    
    <h2><a href="http://localhost:3000/orders">click here to order your dinner</a></h2>
    <br>
    <br>
    <h1> Enjoy your stay with us :)</h1>
  </div>
  </body>
</html>
