<!DOCTYPE html>
<html>
  <head>
    <title>Indentification</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1> Please enter you details</h1>
    <form id="new-form" action="/orders" method="POST">
    click your room number:

    <label>room_num:
      <input type="number" name="room_num">
    </label><br>

    <label>full_name:
      <input type="text" name="full_name">
    </label><br>

    <label>num_of_people:
      <input type="number" name="num_of_people">
    </label><br>
  

  <input type="submit" value="now, order dinner">
</form>

    <h1>room number</h1>
    <p>305</p>
    <p>Leshem</p>
    <p>2 people</p>
    <a href="http://localhost:3000/orders">click to order</a>
    
  </body>
</html>
