<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
</head>
<body>
    <form id="new-form" action="/orders" method="POST">
       
        <label>main course</label>
        <select name="main_dish">
          <option value="steak">steak</option>
          <option value="chichen">chichen</option>
        </select>
      
        <label>side</label>
        <select name="side_dish">
          <option value="potato">potato</option>
          <option value="rice">rice</option>
        </select>
      
        <label>dessert</label>
        <select name="dessert_dish">
          <option value="chocolate">chocolate</option>
          <option value="cheese">richeesece</option>
        </select>
      
        <label>alergies</label>
        <input type="checkbox" name="allergies" checked>
        <input type="submit" value="order">
      </form>


<script>
async function handle_order() {
   // Ensure there's a name entered
   if (inputEls[0].value) {
     let newPup = await fetch(BASE_URL, {
       method: 'POST',
       headers: {'Content-Type': 'application/json'},
       body: JSON.stringify({
         name: inputEls[0].value,
         breed: inputEls[1].value,
         age: inputEls[2].value
       })
     }).then(res => res.json());
     alert(`Pup added has an id of ${newPup._id}`);
     // Clear the inputs
     inputEls[0].value = inputEls[1].value = inputEls[2].value = '';
   }
 }

</script>



</body>
</html>