<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
</head>
<body>
    <form id="new-form" action="/orders" method="POST">
       
        <label>main course</label>
        <select name="main_dish">
          <option value="steak">steak</option>
          <option value="chichen">chichen</option>
        </select>
      
        <label>side</label>
        <select name="side_dish">
          <option value="potato">potato</option>
          <option value="rice">rice</option>
        </select>
      
        <label>dessert</label>
        <select name="dessert_dish">
          <option value="chocolate">chocolate</option>
          <option value="cheese">richeesece</option>
        </select>
      
        <label>alergies</label>
        <input type="checkbox" name="nowShowing" checked>
        <input type="submit" value="order">
      </form>
     

</body>
</html>