<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/confirm.css' />

    <title>Err number</title>
</head>
<body>
    <br><br><br><br>
    <div id= "show-page">
        <h1>your room number is invalid.
        <br>
        please restart from the beginning</h1>

        <button id="change_order"><a href="/orders">click here to start again</a></button>
    </div>
</body>
</html>