<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/orders.css' />
    <title>menu</title>
</head>
<body>
  <div class="card-order">
    <form id="new-form" action="/orders/<%=order._id%>/dessert_dish" method="POST">
      
      
      <h2>click your dessert:</h2>
      <div id="input_dish">
        <input  type="radio" id="name" name="dessert_dish" value="chocolate"
          checked> Chocolate cake
          <label  for="chocolate"><img id="picture" src="/images/cake2.jpg"></label>
      </div>
        
        <div id="input_dish"> 
          <input type="radio" id="eclair" name="dessert_dish" value="eclair"
                checked> Eclair
          <label  for="eclair"><img id="picture" src="/images/eclair.jpg"></label>
        </div>
        <h2>Allergies:</h2>
        <textarea type="text" id="allergies" cols="45" rows="2" placeholder="None" name="allergies" checked></textarea>

        <input id="next_button" type="submit" value="NEXT">
      </form>




  </div>



</body>
</html>