<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>menu</title>
</head>
<body>
    <form id="new-form" action="/orders/edit_main_dish" method="POST">
        <h2>click your room number:</h2>
        <input type = "number" name=roomNum>
        <h2>click your main dish:</h2>
        <div>
          <input type="radio" id="chichen" name="main_dish" value="chichen"
                checked>
          <label  for="chichen"><img id="picture" src="/images/chicken.jpg"></label>
        </div>
        chichen
        <br>

        <div>
          <input type="radio" id="steak" name="main_dish" value="steak"
                checked>
          <label  for="steak"><img id="picture" src="/images/steak.jpg"></label>
        </div>
        steak
        <br>
        <br>
        <br>


        <input type="submit" value="order">
      </form>




</script>



</body>
</html>