<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>menu</title>
</head>
<body>
    <form id="new-form" action="/orders/dessert_dish" method="POST">
      

 <h2>click your side dish:</h2>
       <div>
        <input type="radio" id="potato" name="side_dish" value="potato"
               checked>
        <label  for="potato"><img id="picture" src="/images/potato.jpg"></label>
      </div>
      potato
      <br>

      <div>
        <input type="radio" id="rice" name="side_dish" value="rice"
               checked>
        <label  for="rice"><img id="picture" src="/images/rice.jpg"></label>
      </div>
      rice
      <br>
      <br>
      <br>

     
        <input type="submit" value="order">
      </form>




</script>



</body>
</html>