<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>menu</title>
</head>
<body>
    <form id="new-form" action="/orders" method="POST">
      <h2>click your room number:</h2>
      <input type = "number" name=roomNum>
       <h2>click your main dish:</h2>
      <div>
        <input type="radio" id="chichen" name="main_dish" value="chichen"
               checked>
        <label  for="chichen"><img id="picture" src="/images/chicken.jpg"></label>
      </div>
      chichen
      <br>

      <div>
        <input type="radio" id="steak" name="main_dish" value="steak"
               checked>
        <label  for="steak"><img id="picture" src="/images/steak.jpg"></label>
      </div>
      steak
      <br>
      <br>
      <br>

 <h2>click your side dish:</h2>
       <div>
        <input type="radio" id="potato" name="side_dish" value="potato"
               checked>
        <label  for="potato"><img id="picture" src="/images/potato.jpg"></label>
      </div>
      potato
      <br>

      <div>
        <input type="radio" id="rice" name="side_dish" value="rice"
               checked>
        <label  for="rice"><img id="picture" src="/images/rice.jpg"></label>
      </div>
      rice
      <br>
      <br>
      <br>

      <h2>click your dessert:</h2>
      <div>
       <input type="radio" id="chocolate" name="dessert_dish" value="chocolate"
              checked>
       <label  for="chocolate"><img id="picture" src="/images/chocolate.jpg"></label>
     </div>
     chocolate
     <br>

     <div>
       <input type="radio" id="pancake" name="dessert_dish" value="pancake"
              checked>
       <label  for="pancake"><img id="picture" src="/images/pancake.jpg"></label>
     </div>
     pancake
     <br>
     <br>
     <br>

     
        <label>alergies</label>
        <input type="checkbox" name="allergies" checked>
        <br>
        <br>
        <input type="submit" value="order">
      </form>




</script>



</body>
</html>